:root {
  font-size: 16px;
  font-family: 'Permanent Marker', cursive;
  --text-primary: #ececec;
  --text-secondary: #fbfbfb;
  --bg-primary: #ff92c5;
  --bg-secondary: #EB608F;
  --transition-speed: 600ms;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #808081;
}

body::-webkit-scrollbar-thumb {
  background: #ffcbff;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: hidden;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}


.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  margin: auto;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}


.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}


.logo {
  margin-bottom: 1rem;
  background: var(--bg-secondary);
  width: 100%;
}

.nav-logo {
  display: flex;
  align-items: center;
  height: 10rem;
}

.nav-logo svg {
  width: 4rem;
  min-width: 4rem;
  margin: 0 0.5rem;
  transition: var(--transition-speed);
}


/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    top: 0;
    width: 100vw;
    height: 5rem;
  }

  .nav-logo{
    justify-content: center;
    margin-top: 1rem;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin-top: 5rem;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 2.5rem;
    width: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}

.btn {
  border-radius: 10px;
  background-color: var(--bg-secondary);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 20px;
}

.btn span {
  cursor: pointer;
  color: white;
  display: inline-block;
  position: relative;
  transition: var(--transition-speed);
  font-family: 'Permanent Marker', cursive;
}

.btn span:after {
  content: '\2794';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 35px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: #fff0f4;
}

.content h1{
  font-size: 60px;
  font-weight: 100;
  margin-top: 24px;
  margin-bottom: 15px;
}

.content p{
  font-size: 20px;
}

.content {
  margin-left: 15%;
  margin-top: 15%;
}

.feature-img {
  height: 90%;
  position: absolute;
  bottom: 40;
  right: 160px;
}
